<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <h1><%= product.nameProduct %></h1>
    <img src="images/<%= product.images %>" alt="<%= product.nameProduct %>">
    <h2>$<%= product.priceProduct %></h2>
    <p><%= product.sortDescription %></p>
    <button>Add to Cart</button>
</body>
</html>
